.uploader
  .blurb.row
    .span4
      %p Upload a plain old zip file here (like you’d get by right clicking some files in Finder and selecting “Compress”), and you’ll get back a password-protected version.

      %p This allows you to send sensitive data (consumers’ email addresses, onpack codes, prize draw entrants, etc.) outside of the company.

  .form.row
    .span6
      %h2 Upload:

      %form{:method => :post, :action => "/upload", :enctype => "multipart/form-data"}
        .control-group
          %label.control-label{:for => "zip-file"} Choose your zip file:
          .controls
            %p
              %input#zip-file{:type => :file, :name => "zip-file", :required => true, :accept => "application/zip"}
            .help-block
              %code .zip
              files only please. Maximum size: 128MB

        .control-group.submit
          .controls
            %p
              %input.btn.btn-primary{:type => :submit, :value => "Upload!"}
