.uploader
  .span4
    %p
      Upload a zip file here and it will be magically converted into a password-protected version.

  .span8
  %form{:method => :post, :action => "/upload", :enctype => "multipart/form-data"}
    %p
      %input{:type => :file, :name => "zip-file", :required => true, :accept => "application/zip"}

    %p
      %input{:type => :submit, :value => "Upload zip file!"}
